{% extends "base.html" %}
{% load static %}

{% block content %}
    <!-- Carousel Start -->
    <div class="container-fluid p-0 mb-5">
        <div class="owl-carousel header-carousel position-relative">
            <div class="owl-carousel-item position-relative">
                <img class="img-fluid" src="{% static 'img/business.jpg' %}" alt="">
                <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center" style="background: rgba(24, 29, 56, .7);">
                    <div class="container">
                        <div class="row justify-content-start">
                            <div class="col-sm-10 col-lg-8">
                                <h5 style=" color: #03093D;" class="text text-uppercase mb-3 animated slideInDown">Best Courses</h5>
                                <h1 class="display-3 text-white animated slideInDown">Business Administration</h1>
                                <p class="fs-5 text-white mb-4 pb-2">Vero elitr justo clita lorem. Ipsum dolor at sed stet sit diam no. Kasd rebum ipsum et diam justo clita et kasd rebum sea sanctus eirmod elitr.</p>
                                <a href="" style="background-color: #03093D; color: white;" class="btn btn py-md-3 px-md-5 me-3 animated slideInLeft">Read More</a>
                                <a href=""  class="btn btn-light py-md-3 px-md-5 animated slideInRight">Apply Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="owl-carousel-item position-relative">
                <img class="img-fluid" src="{% static 'img/sales.jpg' %}" alt="">
                <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center" style="background: rgba(24, 29, 56, .7);">
                    <div class="container">
                        <div class="row justify-content-start">
                            <div class="col-sm-10 col-lg-8">
                                <h5 style=" color: #03093D;"  class="text text-uppercase mb-3 animated slideInDown">Best Courses</h5>
                                <h1 class="display-3 text-white animated slideInDown">Sales & Marketing</h1>
                                <p class="fs-5 text-white mb-4 pb-2">Vero elitr justo clita lorem. Ipsum dolor at sed stet sit diam no. Kasd rebum ipsum et diam justo clita et kasd rebum sea sanctus eirmod elitr.</p>
                                <a href="" style="background-color: #03093D; color: white;" class="btn btn py-md-3 px-md-5 me-3 animated slideInLeft">Read More</a>
                                <a href="" class="btn btn-light py-md-3 px-md-5 animated slideInRight">Apply Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="owl-carousel-item position-relative">
                <img class="img-fluid" src="{% static 'img/teacher.jpg' %}" alt="">
                <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center" style="background: rgba(24, 29, 56, .7);">
                    <div class="container">
                        <div class="row justify-content-start">
                            <div class="col-sm-10 col-lg-8">
                                <h5 style=" color: #03093D;" class="text text-uppercase mb-3 animated slideInDown">Best Courses</h5>
                                <h1 class="display-3 text-white animated slideInDown">Teaching Courses</h1>
                                <p class="fs-5 text-white mb-4 pb-2">Vero elitr justo clita lorem. Ipsum dolor at sed stet sit diam no. Kasd rebum ipsum et diam justo clita et kasd rebum sea sanctus eirmod elitr.</p>
                                <a href="" style="background-color: #03093D; color: white;" class="btn btn py-md-3 px-md-5 me-3 animated slideInLeft">Read More</a>
                                <a href=""  class="btn btn-light py-md-3 px-md-5 animated slideInRight">Apply Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="owl-carousel-item position-relative">
                <img class="img-fluid" src="{% static 'img/tour.jpg' %}" alt="">
                <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center" style="background: rgba(24, 29, 56, .7);">
                    <div class="container">
                        <div class="row justify-content-start">
                            <div class="col-sm-10 col-lg-8">
                                <h5 style=" color: #03093D;"  class="text text-uppercase mb-3 animated slideInDown">Best Courses</h5>
                                <h1 class="display-3 text-white animated slideInDown">Tourism, Hotel & Management</h1>
                                <p class="fs-5 text-white mb-4 pb-2">Vero elitr justo clita lorem. Ipsum dolor at sed stet sit diam no. Kasd rebum ipsum et diam justo clita et kasd rebum sea sanctus eirmod elitr.</p>
                                <a href="" style="background-color: #03093D; color: white;" class="btn btn py-md-3 px-md-5 me-3 animated slideInLeft">Read More</a>
                                <a href="" class="btn btn-light py-md-3 px-md-5 animated slideInRight">Apply Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Carousel End -->


    <!-- Service Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="row g-4">
                <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                    <h6 style=" color: #0b1891;" class="section-title bg-white text-center text px-3">Programmes</h6>
                    <h1 class="mb-5">Choose Your Programme Of Study</h1>
                </div>
                <div class="col-lg-4 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="service-item text-center pt-3">
                        <div class="p-4">
                            <i style=" color: #0b1891;" class="fas fa-briefcase fa-3x text mb-4"></i>
                            <h5 class="mb-3">Business Administration</h5>
                            <p>Diam elitr kasd sed at elitr sed ipsum justo dolor sed clita amet diam</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="service-item text-center pt-3">
                        <div class="p-4">
                            <i style=" color: #0b1891;" class="fa fa-3x fa-globe text mb-4"></i>
                            <h5 class="mb-3">Sales & Marketing</h5>
                            <p>Diam elitr kasd sed at elitr sed ipsum justo dolor sed clita amet diam</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="service-item text-center pt-3">
                        <div class="p-4">
                            <i style=" color: #0b1891;" class="fas fa-chalkboard-teacher fa-3x text mb-4"></i>
                            <h5 class="mb-3">Teaching Methodology</h5>
                            <p>Diam elitr kasd sed at elitr sed ipsum justo dolor sed clita amet diam</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Service End -->


    <!-- About Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="row g-5">
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s" style="min-height: 400px;">
                    <div class="position-relative h-100">
                        <img class="img-fluid position-absolute w-100 h-100" src="{% static 'img/about.jpg' %}" alt="University students studying together" style="object-fit: cover;">
                    </div>
                </div>
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s">
                    <h6 style="color: #061386;" class="section-title bg-white text-start text pe-3">Academic Programs</h6>
                    <h1 class="mb-4">Degree & Certificate Programs</h1>
                    <p class="mb-4">We offer comprehensive academic pathways from professional certificates to full degrees, designed to meet industry demands and career aspirations.</p>
                    
                    <!-- Degree Programs Section -->
                    <div class="mb-4">
                        <h5><i class="fas fa-graduation-cap text-primary me-2"></i> Bachelor's Degree Programs</h5>
                        <div class="row gy-2 gx-4">
                            <div class="col-sm-6">
                                <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>BBA in Marketing</p>
                            </div>
                            <div class="col-sm-6">
                                <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>BSc in Business Administration</p>
                            </div>
                            <div class="col-sm-6">
                                <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>BA in Education</p>
                            </div>
                            <div class="col-sm-6">
                                <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>BSc in Accounting</p>
                            </div>
                            <div class="col-sm-6">
                                <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>BA in Human Resource Management</p>
                            </div>
                            <div class="col-sm-6">
                                <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>BSc in Economics</p>
                            </div>
                        </div>
                    </div>
                    
                    <!-- Certificate Programs Section -->
                    <div class="mb-4">
                        <h5><i class="fas fa-certificate text-primary me-2"></i> Professional Certificate Courses</h5>
                        <div class="row gy-2 gx-4">
                            <div class="col-sm-6">
                                <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Digital Marketing Certification</p>
                            </div>
                            <div class="col-sm-6">
                                <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Teaching Methods (TESOL)</p>
                            </div>
                            <div class="col-sm-6">
                                <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Business Analytics</p>
                            </div>
                            <div class="col-sm-6">
                                <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Entrepreneurship Fundamentals</p>
                            </div>
                            <div class="col-sm-6">
                                <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Corporate Finance</p>
                            </div>
                            <div class="col-sm-6">
                                <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Educational Leadership</p>
                            </div>
                        </div>
                    </div>
                    
                    <!-- Program Features -->
                    <div class="mb-4">
                        <p><i class="fas fa-clock text-primary me-2"></i> <strong>Flexible Durations:</strong> 4-year degrees | 3-6 month certificates</p>
                        <p><i class="fas fa-calendar-alt text-primary me-2"></i> <strong>Intakes:</strong> January, May, and September</p>
                        <p><i class="fas fa-laptop-house text-primary me-2"></i> <strong>Study Options:</strong> Full-time, Part-time, Online</p>
                    </div>
                    
                    <div class="d-flex gap-3">
                        <a style="background-color: #03093D; color: white;" class="btn btn py-3 px-4" href="{% url 'application_create' %}">
                            <i class="fas fa-graduation-cap me-2"></i> Degree Programs
                        </a>
                        <a style="background-color: #061386; color: white;" class="btn btn py-3 px-4" href="{% url 'cert' %}">
                            <i class="fas fa-certificate me-2"></i> Certificate Courses
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->


    <!-- Categories Start -->
    <div class="container-xxl py-5 category">
        <div class="container">
            <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                <h6 style=" color: #0b1891;" class="section-title bg-white text-center text px-3">Categories</h6>
                <h1 class="mb-5">Courses Categories</h1>
            </div>
            <div class="row g-3">
                <div class="col-lg-7 col-md-6">
                    <div class="row g-3">
                        <div class="col-lg-12 col-md-12 wow zoomIn" data-wow-delay="0.1s">
                            <a class="position-relative d-block overflow-hidden" href="">
                                <img class="img-fluid" src="{% static 'img/cat-1.jpg' %}" alt="">
                                <div class="bg-white text-center position-absolute bottom-0 end-0 py-2 px-3" style="margin: 1px;">
                                    <h5 class="m-0">Business</h5>
                                    {% comment %} <small class="text-primary">49 Courses</small> {% endcomment %}
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-6 col-md-12 wow zoomIn" data-wow-delay="0.3s">
                            <a class="position-relative d-block overflow-hidden" href="">
                                <img class="img-fluid" src="{% static 'img/cat-2.jpg' %}" alt="">
                                <div class="bg-white text-center position-absolute bottom-0 end-0 py-2 px-3" style="margin: 1px;">
                                    <h5 class="m-0">Sales</h5>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-6 col-md-12 wow zoomIn" data-wow-delay="0.5s">
                            <a class="position-relative d-block overflow-hidden" href="">
                                <img class="img-fluid" src="{% static 'img/cat-3.jpg' %}" alt="">
                                <div class="bg-white text-center position-absolute bottom-0 end-0 py-2 px-3" style="margin: 1px;">
                                    <h5 class="m-0">Teaching</h5>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 col-md-6 wow zoomIn" data-wow-delay="0.7s" style="min-height: 350px;">
                    <a class="position-relative d-block h-100 overflow-hidden" href="">
                        <img class="img-fluid position-absolute w-100 h-100" src="{% static 'img/cat-4.jpg' %}" alt="" style="object-fit: cover;">
                        <div class="bg-white text-center position-absolute bottom-0 end-0 py-2 px-3" style="margin:  1px;">
                            <h5 class="m-0">Marketing</h5>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- Categories Start -->


    <!-- About Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5 align-items-center">
            <!-- Left Column - Text Content -->
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s">
                <h6 class="section-title bg-white text-start text-primary pe-3">WHY FAIRVIEW?</h6>
                <h1 class="mb-4">Exceptional Education for Tomorrow's Leaders</h1>
                <p class="mb-4">At Fairview College & University, we've been transforming lives through quality education since 1995. Our innovative programs blend academic rigor with real-world experience to prepare graduates for success in today's dynamic global economy.</p>
                
                <div class="feature-box bg-light p-4 rounded mb-4">
                    <div class="row g-3">
                        <div class="col-sm-6">
                            <div class="d-flex align-items-center mb-3">
                                <div class="feature-icon rounded-circle bg text-white d-flex align-items-center justify-content-center me-3" style="width: 36px; height: 36px; background-color: #0b1891;">
                                    <i class="fas fa-user-tie fs-5"></i>
                                </div>
                                <div>
                                    <h6 class="mb-0">Expert Faculty</h6>
                                    <small>90% hold terminal degrees</small>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="d-flex align-items-center mb-3">
                                <div class="feature-icon rounded-circle bg text-white d-flex align-items-center justify-content-center me-3" style="width: 36px; height: 36px; background-color: #0b1891;">
                                    <i class="fas fa-briefcase fs-5"></i>
                                </div>
                                <div>
                                    <h6 class="mb-0">Career Focused</h6>
                                    <small>85% employment rate</small>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="d-flex align-items-center mb-3">
                                <div class="feature-icon rounded-circle bg text-white d-flex align-items-center justify-content-center me-3" style="width: 36px; height: 36px; background-color: #0b1891;">
                                    <i class="fas fa-globe fs-5"></i>
                                </div>
                                <div>
                                    <h6 class="mb-0">Global Network</h6>
                                    <small>25+ partner institutions</small>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="d-flex align-items-center mb-3">
                                <div class="feature-icon rounded-circle bg text-white d-flex align-items-center justify-content-center me-3" style="width: 36px; height: 36px; background-color: #0b1891;">
                                    <i class="fas fa-flask fs-5"></i>
                                </div>
                                <div>
                                    <h6 class="mb-0">Hands-on Learning</h6>
                                    <small>Modern labs & facilities</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="mb-4">
                    <h5 class="mb-3">Our Achievements:</h5>
                    <ul class="achievement-list">
                        <li><i style=" color: #0b1891;" class="fas fa-check-circle text me-2"></i> Ranked among top 20 regional colleges</li>
                        <li><i style=" color: #0b1891;" class="fas fa-check-circle text me-2"></i> 95% student satisfaction rate</li>
                        <li><i style=" color: #0b1891;" class="fas fa-check-circle text me-2"></i> $5M in annual scholarships</li>
                        <li><i style=" color: #0b1891;" class="fas fa-check-circle text me-2"></i> 50+ student organizations</li>
                    </ul>
                </div>
                
                <div class="d-flex gap-3">
                    <a style=" background-color: #0b1891; color: white; " class="btn btn py-3 px-4" href="#">
                        <i class="fas fa-book-open me-2"></i> Explore Programs
                    </a>
                </div>
            </div>
            
            <!-- Right Column - Video -->
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="video-player position-relative rounded overflow-hidden shadow">
                    <video class="w-100" poster="{% static 'img/fairview-campus.jpg' %}" id="fairviewVideo">
                        <source src="{% static 'media/fairview-tour.mp4' %}" type="video/mp4">
                        Your browser does not support HTML5 video.
                    </video>
                    <div class="video-play-btn" id="playButton">
                        <i class="fas fa-play"></i>
                    </div>
                </div>
                <p class="text-center mt-3 text-muted">Take a 2-minute tour of our campus</p>
            </div>
        </div>
    </div>
</div>
<!-- About End -->

<style>
    .video-player {
        background: #000;
        aspect-ratio: 16/9;
    }
    .video-play-btn {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 80px;
        height: 80px;
        background: rgba(6, 19, 134, 0.8);
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        font-size: 24px;
        cursor: pointer;
        transition: all 0.3s ease;
    }
    .video-play-btn:hover {
        background: rgba(6, 19, 134, 1);
        transform: translate(-50%, -50%) scale(1.1);
    }
    .feature-icon {
        transition: all 0.3s ease;
    }
    .feature-box:hover .feature-icon {
        transform: rotateY(180deg);
        background: #0b1891;
    }
    .achievement-list {
        list-style: none;
        padding-left: 0;
    }
    .achievement-list li {
        padding: 8px 0;
        border-bottom: 1px dashed #eee;
    }
</style>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const video = document.getElementById('fairviewVideo');
        const playButton = document.getElementById('playButton');
        
        playButton.addEventListener('click', function() {
            if (video.paused) {
                video.play();
                playButton.style.display = 'none';
            }
        });
        
        video.addEventListener('click', function() {
            if (video.paused) {
                video.play();
                playButton.style.display = 'none';
            } else {
                video.pause();
                playButton.style.display = 'flex';
            }
        });
        
        video.addEventListener('play', function() {
            playButton.style.display = 'none';
        });
        
        video.addEventListener('pause', function() {
            playButton.style.display = 'flex';
        });
    });
</script>

    <!-- Courses Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                <h6 style=" color: #0b1891;" class="section-title bg-white text-center text px-3">Courses</h6>
                <h1 class="mb-5">Study With Us</h1>
            </div>
            <div class="row g-4 justify-content-center">
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="course-item bg-light">
                        <div class="position-relative overflow-hidden">
                            <img class="img-fluid" src="{% static 'img/course-1.jpg' %}" alt="">
                            <div class="w-100 d-flex justify-content-center position-absolute bottom-0 start-0 mb-4">
                                <a href="#" class="flex-shrink-0 btn btn-sm btn-primary px-3 border-end" style="border-radius: 30px 0 0 30px;">Read More</a>
                                <a href="#" style="background-color: #03093D; color: white;" class="flex-shrink-0 btn btn-sm btn px-3" style="border-radius: 0 30px 30px 0;">Apply Now</a>
                            </div>
                        </div>
                        <div class="text-center p-4 pb-0">
                            <h5 class="mb-4">Early ChildHood</h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="course-item bg-light">
                        <div class="position-relative overflow-hidden">
                            <img class="img-fluid" src="{% static 'img/course-2.jpg' %}" alt="">
                            <div class="w-100 d-flex justify-content-center position-absolute bottom-0 start-0 mb-4">
                                <a href="#" class="flex-shrink-0 btn btn-sm btn-primary px-3 border-end" style="border-radius: 30px 0 0 30px;">Read More</a>
                                <a href="#" style="background-color: #03093D; color: white;" class="flex-shrink-0 btn btn-sm btn px-3" style="border-radius: 0 30px 30px 0;">Apply Now</a>
                            </div>
                        </div>
                        <div class="text-center p-4 pb-0">
                            <h5 class="mb-4">Sales Marketing</h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="course-item bg-light">
                        <div class="position-relative overflow-hidden">
                            <img class="img-fluid" src="{% static 'img/course-3.jpg' %}" alt="">
                            <div class="w-100 d-flex justify-content-center position-absolute bottom-0 start-0 mb-4">
                                <a href="#" class="flex-shrink-0 btn btn-sm btn-primary px-3 border-end" style="border-radius: 30px 0 0 30px;">Read More</a>
                                <a href="#" style="background-color: #03093D; color: white;" class="flex-shrink-0 btn btn-sm btn px-3" style="border-radius: 0 30px 30px 0;">Apply Now</a>
                            </div>
                        </div>
                        <div class="text-center p-4 pb-0">
                            <h5 class="mb-4">Business Administration</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Courses End -->


    <!-- Testimonial Start -->
    <div class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.1s">
        <div class="container">
            <div class="text-center">
                <h6 style=" color: #0b1891;" class="section-title bg-white text-center text px-3">Testimonial</h6>
                <h1 class="mb-5">Our Students Say!</h1>
            </div>
            <div class="owl-carousel testimonial-carousel position-relative">
                <div class="testimonial-item text-center">
                    <img class="border rounded-circle p-2 mx-auto mb-3" src="{% static 'img/testimonial-1.jpg' %}" style="width: 80px; height: 80px;">
                    <h5 class="mb-0">Client Name</h5>
                    <p>Profession</p>
                    <div class="testimonial-text bg-light text-center p-4">
                    <p class="mb-0">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit diam amet diam et eos. Clita erat ipsum et lorem et sit.</p>
                    </div>
                </div>
                <div class="testimonial-item text-center">
                    <img class="border rounded-circle p-2 mx-auto mb-3" src="{% static 'img/testimonial-2.jpg' %}" style="width: 80px; height: 80px;">
                    <h5 class="mb-0">Client Name</h5>
                    <p>Profession</p>
                    <div class="testimonial-text bg-light text-center p-4">
                    <p class="mb-0">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit diam amet diam et eos. Clita erat ipsum et lorem et sit.</p>
                    </div>
                </div>
                <div class="testimonial-item text-center">
                    <img class="border rounded-circle p-2 mx-auto mb-3" src="{% static 'img/testimonial-3.jpg' %}" style="width: 80px; height: 80px;">
                    <h5 class="mb-0">Client Name</h5>
                    <p>Profession</p>
                    <div class="testimonial-text bg-light text-center p-4">
                    <p class="mb-0">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit diam amet diam et eos. Clita erat ipsum et lorem et sit.</p>
                    </div>
                </div>
                <div class="testimonial-item text-center">
                    <img class="border rounded-circle p-2 mx-auto mb-3" src="{% static 'img/testimonial-4.jpg' %}" style="width: 80px; height: 80px;">
                    <h5 class="mb-0">Client Name</h5>
                    <p>Profession</p>
                    <div class="testimonial-text bg-light text-center p-4">
                    <p class="mb-0">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit diam amet diam et eos. Clita erat ipsum et lorem et sit.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Testimonial End -->
        
{% endblock content %}